
<header class="header">
    <h1 class="headerh1">My Blogsite</h1>

    <ul class="navLogin nav">
        <li><a href="/">Home</a></li>
        <li><a href="/CreateBlog">Create Blog</a></li>
        <li><a href="#">About</a></li>
    </ul>

    <ul class="navContent nav">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Register</a></li>
    </ul>
</header>
 