<!DOCTYPE html>
<html lang="en">

<%- include('partials/links') %>
<body>
   <div class="container">
        <%- include('partials/header') %>

   </div>

   <main>
        <h2>Content List:</h2>
        <div class="listbox">
    
        </div>
        <h1 class="h1feature">Featured Blog:</h>
        <div class="featured">

        </div>
        
        <button class="createButton">Create Blog</button>

   </main>
    
    <%- include('partials/footer') %>
</body>

</html>